{% extends "base.html" %}

{% block title %}Present{% endblock %}

{% block extra_head %}
<!-- Additional CSS or other head content for the app goes here -->
{% load static %}
<link href="{% static 'present/styles.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
<!-- Common page elements go here, such as a header or navigation bar -->
<div>
    {% block present_body %}
    {% endblock %}
</div>

<!-- Common page elements go here, such as a footer -->

{% endblock %}

{% block extra_body %}
<!-- Additional JS or other body content for the app goes here -->
<script src="{% static 'present/script_present.js' %}"></script>
<!-- charts.js library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- chartjs-plugin-datalabels to add datalabels on top of graph from charts.js -->
<!-- see https://chartjs-plugin-datalabels.netlify.app/guide/getting-started.html#installation -->
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

{% endblock %}