{% extends "website/layout.html" %}
{% block website_body %}

<!-- Message -->
{% if message %}
<div class="alert alert-secondary alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<!-- Content -->
<div class="WEBSITE-GUIDE-main-content">
    <section class="WEBSITE-GUIDE-section-1 WEBSITE-GUIDE-section">
        <h1>Guide: how to use PollN</h1>
        <p>PollN is the easiest-to-use poll maker. You can set up quizzes, surveys, engage your audience during presentations,
            and collect feedback or ideas. It's mobile-friendly interface is perfect for when you need to set up a poll on the
            go, and it is completely free to use. Let's get started! </p>
    </section>
    <section class="WEBSITE-GUIDE-section">
        <h2>Getting started</h2>
        <div class="WEBSITE-GUIDE-card-elements">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Add Project</h5>
                    <p class="card-text">The name of the project will appear as the title of your presentation and poll.</p>
                </div>
            </div>
            <div class="WEBSITE-GUIDE-card-arrow">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Add Questions</h5>
                    <p class="card-text">Add one or more questions you would like your audience to answer.</p>
                </div>
            </div>
            <div class="WEBSITE-GUIDE-card-arrow">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Present or send link</h5>
                    <p class="card-text">Poll during a presentation or send the link to the project's poll.</p>
                </div>
            </div>
            <div class="WEBSITE-GUIDE-card-arrow">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">See the results</h5>
                    <p class="card-text">The results are made available while you are presenting or you can close the poll to see the answers.</p>
                </div>
            </div>
        </div>
        <p>Let's see each step in more detail. </p>
    </section>
    <section class="WEBSITE-GUIDE-section">
        <h2>Creating Projects</h2>
        <p>A project is the structure of your presentation, quiz or survey. When you log in for the first time, you should
            create a project before creating the questions. Navigating to "My Projects" or "Dashboard" in the nav bar will bring you to the page where you will see all your
            projects, and where you are able to create new projects.</p>
        <div class="WEBSITE-GUIDE-card-elements">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Click to add project</h5>
                    <br>
                    <div class="WEBSITE-GUIDE-card-image">
                        {% load static %}
                        <img src="{% static 'website/media/img_guide_project_1.png' %}" alt="Add project">
                    </div>
                    <br>
                    <p class="card-text">Your dashboard will be empty at this point. Click the yellow button to add a new project.</p>
                </div>
            </div>
            <div class="WEBSITE-GUIDE-card-arrow">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Choose a name and save</h5>
                    <br>
                    <div class="WEBSITE-GUIDE-card-image">
                        <img src="{% static 'website/media/img_guide_project_2.png' %}" alt="Add project modal">
                    </div>
                    <br>
                    <p class="card-text">Don't worry about the other inputs, we will cover those later when editting the project.</p>
                </div>
            </div>
            <div class="WEBSITE-GUIDE-card-arrow">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Your project was created</h5>
                    <br>
                    <div class="WEBSITE-GUIDE-card-image">
                        <img src="{% static 'website/media/img_guide_project_3.png' %}" alt="Project page">
                    </div>
                    <br>
                    <p class="card-text">You will be re-directed to the project page, where you can add questions.</p>
                </div>
            </div>
            <div class="WEBSITE-GUIDE-card-arrow">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Dashboard view</h5>
                    <br>
                    <div class="WEBSITE-GUIDE-card-image">
                        <img src="{% static 'website/media/img_guide_project_4.png' %}" alt="Project shown in the dashboard">
                    </div>
                    <br>
                    <p class="card-text">You will be able to see the project in the dashboard.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="WEBSITE-GUIDE-section">
        <h2>Creating Questions</h2>
        <p>You should create a question before presenting or sharing the project. You can have as many questions as you want, and the questions will appear on your project's page.</p>
        
        <div class="WEBSITE-GUIDE-card-elements">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Click to add question</h5>
                    <br>
                    <div class="WEBSITE-GUIDE-card-image">
                        {% load static %}
                        <img src="{% static 'website/media/img_guide_question_1.png' %}" alt="Add question">
                    </div>
                    <br>
                    <p class="card-text">The button will be on your project's page.</p>
                </div>
            </div>
            <div class="WEBSITE-GUIDE-card-arrow">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Choose a question type</h5>
                    <br>
                    <div class="WEBSITE-GUIDE-card-image">
                        <img src="{% static 'website/media/img_guide_question_2.png' %}" alt="Add question modal">
                    </div>
                    <br>
                    <p class="card-text">We will explore each type in detail bellow. Ask the question and click save.</p>
                </div>
            </div>
            <div class="WEBSITE-GUIDE-card-arrow">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Your question was created</h5>
                    <br>
                    <div class="WEBSITE-GUIDE-card-image">
                        <img src="{% static 'website/media/img_guide_question_3.png' %}" alt="Question seen in the project page">
                    </div>
                    <br>
                    <p class="card-text">Questions will be visible under the 'add question' button. You can click 'Edit' to re-visit the question.</p>
                </div>
            </div>
            <div class="WEBSITE-GUIDE-card-arrow">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Edit question</h5>
                    <br>
                    <div class="WEBSITE-GUIDE-card-image">
                        <img src="{% static 'website/media/img_guide_question_4.png' %}" alt="Edit question modal">
                    </div>
                    <br>
                    <p class="card-text">You can view, edit or delete your question from this modal.</p>
                </div>
            </div>
        </div>
        <br>
        <p>There are three question types available. Lets explore each one. Note that questions in the presentation and poll will appear in the order you specify.</p>
        <div class="WEBSITE-GUIDE-card-elements">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Open-ended</h5>
                    <br>
                    <div class="WEBSITE-GUIDE-card-image">
                        <img src="{% static 'website/media/img_guide_question_type_1.png' %}" alt="Edit question: open ended selected">
                    </div>
                    <br>
                    <p class="card-text">Used for gathering ideas. There is no right question here. The ideas will appear on the presentation with yellow borders. Up to 10 answers will appear on the presentation.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Question and answer</h5>
                    <br>
                    <div class="WEBSITE-GUIDE-card-image">
                        <img src="{% static 'website/media/img_guide_question_type_2.png' %}" alt="Edit question: Q&A selected">
                    </div>
                    <br>
                    <p class="card-text">When a question has one right answer. Great for quizzes. The correct answer will appear in the presentation, with the percentage of votes that got it right. It is case insensitive.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Multiple choice</h5>
                    <br>
                    <div class="WEBSITE-GUIDE-card-image">
                        <img src="{% static 'website/media/img_guide_question_type_3.png' %}" alt="Edit question: multiple choice selected">
                    </div>
                    <br>
                    <p class="card-text">Multiple choice questions will appear in graph-format on the presentation. If there is one right option, you can set the correct answer.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Re-order questions</h5>
                    <br>
                    <div class="WEBSITE-GUIDE-card-image">
                        <img src="{% static 'website/media/img_guide_question_type_4.png' %}" alt="Saving new question order">
                    </div>
                    <br>
                    <p class="card-text">Click on the question (white part of the container) and drag into position. The 'Save' button will appear. Click on it to save the new order.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="WEBSITE-GUIDE-section">
        <h2>Polling</h2>
        <p>Respondents can access your projects in three ways: by putting the code on PollN's home page, by accessing the link, or scanning the QR code. They will only be able to access the poll if the poll is open. The answers will become available only after the poll closes. 
            This will happen automatically during a presentation, but you will have to close the poll manually if you are not live-polling (i.e.: if you shared the link to your respondents instead of during a presentation).</p>
        <div class="WEBSITE-GUIDE-card-elements">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Make sure the poll is open</h5>
                    <br>
                    <div class="WEBSITE-GUIDE-card-image">
                        {% load static %}
                        <img src="{% static 'website/media/img_guide_polling_1.png' %}" alt="Poll open switch on">
                    </div>
                    <br>
                    <p class="card-text">The poll will open automatically when you press 'present'. If you are sharing the link to your project or the polling will not happen live, you can open the poll manually clicking the switch on the project's page.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Share the link</h5>
                    <br>
                    <div class="WEBSITE-GUIDE-card-image">
                        <img src="{% static 'website/media/img_guide_polling_2.png' %}" alt="Share link modal">
                    </div>
                    <br>
                    <p class="card-text">If you are not polling live, you can get the answers by sharing the link with respondents. You can share the link, the code, or press 'Share with WhatsApp' to open the WhatsApp app and save you time!</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Scanning the QR code</h5>
                    <br>
                    <div class="WEBSITE-GUIDE-card-image">
                        <img src="{% static 'website/media/img_guide_polling_3.png' %}" alt="First presentation page">
                    </div>
                    <br>
                    <p class="card-text">The presentation's first page will contain the QR code that your respondents can scan to go to the polling link. Alternativelly, they can see the code of your project and use it to access it.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Join with a code</h5>
                    <br>
                    <div class="WEBSITE-GUIDE-card-image">
                        <img src="{% static 'website/media/img_guide_polling_4.png' %}" alt="Code input on PollN homepage">
                    </div>
                    <br>
                    <p class="card-text">The respondents may also choose to input the project code on PollN's homepage and click on 'Join a presentation'.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="WEBSITE-GUIDE-section">
        <h2>Editting a project</h2>
        <p>You can define who can access your project by setting a password and sharing it along with the project's link so the respondents can access the questions. 
            You may also decide whether you want your responses to be anonymous or set a username field on the poll's first page. Furthermore, you can decide if you are showing the correct answers to
            poll questions (those with defined answers such as Q&As or multiple choices with set answers) - if you enable this feature, respondents will see the answers after submitting their responses.</p>
        <div class="WEBSITE-GUIDE-card-elements">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Edit project</h5>
                    <br>
                    <div class="WEBSITE-GUIDE-card-image">
                        <img src="{% static 'website/media/img_guide_edit_project_1.png' %}" alt="Edit project modal">
                    </div>
                    <br>
                    <p class="card-text">Click "Edit Project" on the project page. You can define whether you will require the respondent to input a username and/or password before viewing the questions.
                        You may also choose to show the answers to the respondent after they have submitted their responses.
                    </p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Username and password</h5>
                    <br>
                    <div class="WEBSITE-GUIDE-card-image">
                        <img src="{% static 'website/media/img_guide_edit_project_2.png' %}" alt="First poll page">
                    </div>
                    <br>
                    <p class="card-text">It is advisable to only require a password if you only want certain persons to access the project and when you are not polling during a presentation, as this can affect user experience.
                        Keep in mind you can always close the poll to stop respondent access.
                    </p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Answers</h5>
                    <br>
                    <div class="WEBSITE-GUIDE-card-image">
                        <img src="{% static 'website/media/img_guide_edit_project_3.png' %}" alt="Poll page showing answers">
                    </div>
                    <br>
                    <p class="card-text">Answers for Q&As and Multiple choice type of questions will be shown to the respondent after their submission only if enabled. 
                        If you have not defined an answer to a multiple choice, this will not appear to the respondent. 
                        Answers will always appear during a presentation if you are presenting, so you do not need to enable this for live polls.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="WEBSITE-GUIDE-section">
        <h2>Presenting</h2>
        <p>You can click on "present", which will open a new browser window with the presentation. You can set the browser on full screen to present. 
            The poll will be open only while you are on the first presentation page. The poll closes as soon as you move on to the next page, and you can start presenting the results.
            You can navigate back and forth with your keyboard left and right arrow keys, by pressing enter or backspace keys, or by swiping with your finger on your touch device.
        </p>
        <div class="WEBSITE-GUIDE-card-elements">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Present</h5>
                    <br>
                    <div class="WEBSITE-GUIDE-card-image">
                        {% load static %}
                        <img src="{% static 'website/media/img_PollN_presentation_1.png' %}" alt="First presentation page with number of respondents">
                    </div>
                    <br>
                    <p class="card-text">Click on the 'Present' button on the project page to start the presentation. You will see the number of respondents who have submitted their answers on the bottom of the page.
                        This is used for live-polling. As soon as you switch to the next page (by clicking 'enter', the right arrow, or swiping left), the poll will be closed and no answers may be submitted.
                    </p>
                </div>
            </div>
            <div class="WEBSITE-GUIDE-card-arrow">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Respondent access</h5>
                    <br>
                    <div class="WEBSITE-GUIDE-card-image WEBSITE-GUIDE-card-image-phone">
                        <img src="{% static 'website/media/img_PollN_poll_1.png' %}" alt="Phone scanning QR code">
                    </div>
                    <br>
                    <p class="card-text">Respondents may access the poll as long as the poll is open. They can read thwe QR code on your presentation or put in the code on the top 
                        of your presentation in PollN's homepage.
                    </p>
                </div>
            </div>
            <div class="WEBSITE-GUIDE-card-arrow">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Answers</h5>
                    <br>
                    <div class="WEBSITE-GUIDE-card-image WEBSITE-GUIDE-card-image-phone">
                        <img src="{% static 'website/media/img_PollN_poll_4.png' %}" alt="Phone showing poll question">
                    </div>
                    <br>
                    <p class="card-text">The respondents will then answer one question after the other in your presentation. They have to click the 'Submit' button after the 
                        last question in order for their responses on all questions to be counted. 
                    </p>
                </div>
            </div>
            <div class="WEBSITE-GUIDE-card-arrow">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Submission</h5>
                    <br>
                    <div class="WEBSITE-GUIDE-card-image WEBSITE-GUIDE-card-image-phone">
                        <img src="{% static 'website/media/img_PollN_poll_5.png' %}" alt="Phone showing answers have been submitted">
                    </div>
                    <br>
                    <p class="card-text">Submission will only take place if the poll is open. The participants will see a success or failure message after clicking the 'Submit' button. 
                        If your project has "show answer" enabled, the paticipants can check the answers after submission of their responses.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <p>Moving to the next presentation page will close the poll. From this moment forward, you can discuss the presentation results.
        </p>
        <div class="WEBSITE-GUIDE-card-elements">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Close poll for results</h5>
                    <br>
                    <div class="WEBSITE-GUIDE-card-image">
                        <img src="{% static 'website/media/img_PollN_presentation_10.png' %}" alt="First presentation page with QR code">
                    </div>
                    <br>
                    <p class="card-text"> As soon as you switch to the next page (by clicking 'enter', the right
                        arrow, or swiping left), the poll will be closed and you can see the results.
                    </p>
                </div>
            </div>
            <div class="WEBSITE-GUIDE-card-arrow">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Multiple choice</h5>
                    <br>
                    <div class="WEBSITE-GUIDE-card-image WEBSITE-GUIDE-card-image-phone">
                        <img src="{% static 'website/media/img_PollN_presentation_12.png' %}" alt="Presentation page showing a graph with poll results">
                    </div>
                    <br>
                    <p class="card-text">Multiple choice questions will be seen with a graph and the number of answers on each option.
                        The most voted option will be written bellow (or 'tie' in case of a tie). If the multiple choice had an answer set, you will see
                        how many respondents got it right.
                    </p>
                </div>
            </div>
            <div class="WEBSITE-GUIDE-card-arrow">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Open ended</h5>
                    <br>
                    <div class="WEBSITE-GUIDE-card-image WEBSITE-GUIDE-card-image-phone">
                        <img src="{% static 'website/media/img_PollN_presentation_13.png' %}" alt="Presentation page showing answers to open-ended questions">
                    </div>
                    <br>
                    <p class="card-text">The answers to open ended questions will be listed. Only up to 10 of the answers will be shown at random.
                    </p>
                </div>
            </div>
            <div class="WEBSITE-GUIDE-card-arrow">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Q&A</h5>
                    <br>
                    <div class="WEBSITE-GUIDE-card-image WEBSITE-GUIDE-card-image-phone">
                        <img src="{% static 'website/media/img_PollN_presentation_14.png' %}" alt="Presentation page showing answer to Q&A">
                    </div>
                    <br>
                    <p class="card-text">The correct answer will be given, along with the percentage of respondents who got it right. Preferably you do not want your answers to be too long.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="WEBSITE-GUIDE-section">
        <h2>The results</h2>
        <p>After a poll is closed and results have been submitted, you can check them out by clicking "Click here to see all answers" on the project page.
            Note that every time you open a poll and receive answers, the results will be updated with the data from the lattest polling. You will not be able to 
            see the results of previous polls, but you can save the results tables by downloading them in excel (csv format). 
        </p>
        <div class="WEBSITE-GUIDE-card-elements">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Close poll for results</h5>
                    <br>
                    <div class="WEBSITE-GUIDE-card-image">
                        <img src="{% static 'website/media/img_guide_results_1.png' %}" alt="Project page showing poll swich closed and 'click here' link">
                    </div>
                    <br>
                    <p class="card-text"> Close the poll from the project page and click on "Click here to see all answers". 
                        The results page will open in a new browser.
                    </p>
                </div>
            </div>
            <div class="WEBSITE-GUIDE-card-arrow">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">The results</h5>
                    <br>
                    <div class="WEBSITE-GUIDE-card-image WEBSITE-GUIDE-card-image-phone">
                        <img src="{% static 'website/media/img_guide_results_2.png' %}" alt="Results page showing results table">
                    </div>
                    <br>
                    <p class="card-text">You will see a table with a short summary of the results of every question, and another with the answer of each respondent.
                        The results table can be downloaded as an excel file by clicking on the button.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="WEBSITE-GUIDE-section">
        <h2>About PollN</h2>
        <p>PollN does not make the use of cookies for the purpose of collecting personal information. You information will not be collected nor 
            shared with third-parties.
        </p>
        <p>PollN is a free open-source software that makes no claims as to its quality or reliability. The creator shall not be liable for any damage, loss of profit, revenue, or data incurred by you or any third-party arising from the access of or content 
            created through the use of this site.
        </p>
        <p>You can contact the creator at bgtti.code@gmail.com</p>
    </section>
</div>


{% endblock %}