{% extends "website/layout.html" %}
{% block website_body %}

<!-- Message -->
{% if message %}
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}

<!-- Content -->
<section class="container-fluid WEBSITE-section-main">
    <!-- Dandalion image -->
    <div class="container-fluid WEBSITE-section-main-img"></div>
    <div class="container-fluid WEBSITE-section-main-text">
        <h1 class="WEBSITE-h1">Poll<span class="WEBSITE-h1-span">N</span></h1>
        <p class="WEBSITE-sub-title"><span>interact with your audience</span></p>
        <br>
        <br>
        <div class="form-group WEBSITE-join-parent">
            <label for="projectname" class="BASE-modal-label BASE-hide">Join a presentation</label>
            <input autofocus class="form-control" type="text" name="projectname" placeholder="Enter code">
            <small><a href="#" role="button" class="BASE-btn BASE-btn-small-gray" onclick=""
                style="width: 140px; background-color: #e5e5e5;">
                    Join a presentation</a></small>
        </div>
    </div>
</section>

{% endblock %}