{% extends "website/layout.html" %}
{% block website_body %}

<!-- Content -->
{% if message %}
<div>{{ message }}</div>
{% endif %}

<div class="WEBSITE-form-container">
    <h2>Log into your account</h2>
    <br>
    <form action="{% url 'website:login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn btn-primary BASE-btn BASE-btn-type2" type="submit" value="Login">
    </form>
    <br>
    <p>Don't have an account? <a href="{% url 'website:signup' %}">Signup here.</a></p>
</div>

{% endblock %}
