{% extends "website/layout.html" %}
{% block website_body %}

<!-- Content -->

{% if message %}
<div class="alert alert-secondary alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="WEBSITE-form-container">
    <h2>Sign up for an account</h2>
    <br>
    <form action="{% url 'website:signup' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autocomplete="username" autofocus type="text" name="username" minlength="1"
                placeholder="Username">
        </div>
        <br>
        <div class="form-group">
            <input class="form-control" autocomplete="email" type="email" name="email" placeholder="Email Address">
        </div>
        <br>
        <div class="form-group">
            <input class="form-control" autocomplete="new-password" type="password" name="password" minlength="8"
                placeholder="Password">
        </div>
        <br>
        <div class="form-group">
            <input class="form-control" autocomplete="repeat-password" type="password" name="confirmation" minlength="8"
                placeholder="Confirm Password">
        </div>
        <br>
        <input class="btn btn-primary BASE-btn BASE-btn-type2" type="submit" value="Signup">
    </form>
    <br>
    <p>Already have an account? <a href="{% url 'website:login' %}">Log In here.</a></p>
</div>

{% endblock %}