/* importing root variables from common.css */
@import url('/static/common.css');

/* Dashboard specific styles */
.DASHBOARD-page-container {
    padding: 30px 25px;
}

.DASHBOARD-add-prj-btn {
    width:180px;
    font-weight: bold;
}