/* importing root variables from common.css */
@import url('/static/common.css');

/* Dashboard specific styles */
.DASHBOARD-page-container {
    padding: 15px 25px;
}

.DASHBOARD-add-prj-btn {
    width:180px !important;
    font-weight: bold;
}

.DASHBOARD-projects-section{
    display: flex;
    gap: 10px;
}