:root {
    --main-gray: #b1bcc5;
    --main-blue: #344955;
    --main-yellow: #f9aa33;
    --main-red: #8B0000;
    --font-oswald: 'Oswald', sans-serif;
    --font-quicksand: 'Quicksand', sans-serif;
}

* {
    font-family: var(--font-quicksand);
}
/* Useful linkss */
/* filter: https: //codepen.io/sosuke/pen/Pjoqqp */
/* box-shadow: https: //getcssscan.com/css-box-shadow-examples */

/* Buttons */
.BASE-btn {
    border: none;
}

@media (hover: hover) {
    .BASE-btn:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
}

.BASE-btn-type1 {
    background-color: var(--main-yellow) !important;
    width: 100px !important;
}

.BASE-btn-type2 {
    background-color: var(--main-blue) !important;
    width: 100px !important;
}

.BASE-btn-type3 {
    background-color: var(--main-red) !important;
    width: 100px !important;
}

/* Navbar */
.BASE-nav {
    background-color: white !important;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Modal */
.BASE-modal-container{
    position: fixed;
    top: 0;
    left:0;
    height: 100vh;
    width: 100vw;
    background-color: #50575bce;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.BASE-modal{
    padding: 25px;
    border-radius: 5px;
    background-color: white;
}
.BASE-modal-icon-close{
    cursor: pointer;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    color: var(--main-blue);
}
.BASE-modal-icon-close > *{
    font-size: 1.2em;
    color: var(--main-blue);
}
.BASE-modal-label{
    padding-bottom: 5px;
}
.BASE-modal-btn-group{
    display: flex;
    gap: 15px;
}

/* HIDE Modals */
.BASE-hide{
    display: none;
}

/* Adapting Bootstrap input focus */
.form-control:focus {
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* Adapting Bootstrap switch focus and checked */
.form-switch .form-check-input:focus {
    border-color: rgba(0, 0, 0, 0.25);
    outline: 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.form-switch .form-check-input:checked {
    background-color: var(--main-yellow);
    border-color: var(--main-yellow);
    border: none;
}