{% extends "dashboard/layout.html" %}
{% block dashboard_body %}
<!-- Message -->
<br>
{% if message %}
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}
<!-- Content -->
<div class="DASHBOARD-page-container">
    <section>
        <a href="#" role="button" class="btn btn-light my-2 my-sm-0 BASE-btn BASE-btn-type1 DASHBOARD-add-prj-btn"
            onclick="modalHideUnhide('modal_add_project')">
            + Add Project</a>
    </section>
    <hr>
    <section class="DASHBOARD-projects-section">
        {% if projects != None %}
            {% for project in projects %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="margin:0 !important">
                        <h5 class="card-title">{{ project.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Code: {{ project.prj_code }}</h6>
                        <p class="card-text" style="margin:0 !important"> 
                            {% if project.num_questions == 0 %}
                                No questions yet in this project.
                            {% elif project.num_questions == 1 %}
                                {{ project.num_questions }} question in this project.
                            {% else %}
                                {{ project.num_questions }} questions in this project.
                            {% endif %}
                            </p>
                        <p class="card-text" style="margin:0 !important;">
                            {% if project.is_live == True %}
                            Poll open.
                            {% else %}
                            Poll closed.
                            {% endif %}
                        </p>
                    </div>
                    <div class="card-body" style="margin:0 !important; padding-top:0;">
                        <hr style="margin-top:0;">
                        <a href="{% url 'dashboard:project' id=project.pk %}" role="button" class="btn btn-dark my-2 my-sm-0 BASE-btn BASE-btn-type2">
                            Edit</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>You have no project yet! Add a project to get started!</p>
        {% endif %}
    </section>
</div>

<!-- Modal -->
{% include "dashboard/modal_add_project.html" %}

{% endblock %}