{% extends "dashboard/layout.html" %}
{% block dashboard_body %}
<!-- Message -->
<br>
{% if message %}
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}
<!-- Content -->
<div class="DASHBOARD-page-container">
    <section>
        <a href="#" role="button" class="btn btn-light my-2 my-sm-0 BASE-btn BASE-btn-type1 DASHBOARD-add-prj-btn"
            onclick="modalHideUnhide('modal_add_project')">
            + Add Project</a>
    </section>
    <hr>
    <section class="DASHBOARD-projects-section">
        {% if projects != None %}
            {% for project in projects %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Not live</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body">
                        <a href="{% url 'dashboard:project' id=project.pk %}" role="button" class="btn btn-dark my-2 my-sm-0 BASE-btn BASE-btn-type2">
                            Edit</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>You have no project yet! Add a project to get started!</p>
        {% endif %}
    </section>
</div>

<!-- Modal -->
{% include "dashboard/modal_add_project.html" %}

{% endblock %}