{% extends "dashboard/layout.html" %}
{% block dashboard_body %}
<!-- Content -->
<div class="DASHBOARD-page-container">
    <section>
        <a href="#" role="button" class="btn btn-light my-2 my-sm-0 BASE-btn BASE-btn-type1 DASHBOARD-add-prj-btn"
            onclick="modalHideUnhide('modal_add_project')">
            + Add Project</a>
    </section>
    <hr>
    <section>
        <p>projects</p>
    </section>
</div>

<!-- Modal -->
{% include "dashboard/modal_add_project.html" %}

{% endblock %}