{% extends "dashboard/layout.html" %}
{% block dashboard_body %}
<!-- Message -->
<br>
{% if message %}
<div class="alert alert-secondary alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<!-- Content -->
<div class="DASHBOARD-page-container">
    <h2>{{ project.name }}</h2>
    <div class="DASHBOARD-project-pjk-info">
        <p><small>Presentation code: {{ project.prj_code }}</small></p>
        {% if project.pw_requirement == true %}
            <p>Password: <small>{{ project.pw }}</small></p>
        {% else %}
            <p><small>No password set</small></p>
        {% endif %}
    </div>
    
    <div class="DASHBOARD-project-btn-group">
        <small><a href="#" role="button" class="btn btn-dark my-2 my-sm-0 BASE-btn BASE-btn-type2 DASHBOARD-add-prj-btn" onclick="">
            Present</a></small>
        <small><a href="#" role="button" class="BASE-btn BASE-btn-small-gray" 
            onclick="">
                Share Link</a></small>
        <small><a href="#" role="button" class="BASE-btn BASE-btn-small-gray"
            onclick="editProjectData('{{project.pk}}')">
            Edit Project</a></small>
        <small><a href="#" role="button" class="BASE-btn BASE-btn-small-gray"
            onclick="modalHideUnhide('modal_delete_project')">
            Delete Project</a></small>
    </div>
    <hr>
    <!-- Questions -->
    <h2>Questions</h2>
    <p><small>You can drag the questions to change the order.</small></p>
    <div>
        <a href="#" role="button" class="btn btn-light my-2 my-sm-0 BASE-btn BASE-btn-type1 DASHBOARD-add-prj-btn"
            onclick="modalHideUnhide('modal_add_question')">
            + Question</a>
    </div>
    <section>
        <a href="#" role="button" class="btn btn-light my-2 my-sm-0 BASE-btn BASE-btn-type4 DASHBOARD-add-prj-btn BASE-hide"
            onclick="getOrderOfQuestions()" id="BtnSaveQorder">
            Save order</a>
        {% if questions %}
        <div id="DASHBOARD-project-question-container" class="DASHBOARD-project-question-container" ondragover="positionInContainer(event)">
            {% for question in questions %}
            <div class="DASHBOARD-project-question-item" draggable="true" data-questionpk="{{question.pk}}">
                <p class="DASHBOARD-q-edit"><a href="#" onclick="editQuestionData('{{question.pk}}')">Edit</a></p>
                <p class="DASHBOARD-q-name">{{ question.question }}</p>
                <p class="DASHBOARD-q-type">Type: {{question.question_type}}</p>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <br>
        <p> You have no questions yet. Add a question!</p>
        {% endif %}
        
    </section>
</div>

<!-- Modal -->
{% include "dashboard/modal_add_project.html" %}
{% include "dashboard/modal_delete_project.html" %}
{% include "dashboard/modal_add_question.html" %}


{% endblock %}