{% extends "website/layout.html" %}
{% block body %}
<!-- Content -->
<!-- Main image -->
{% load static %}
<!-- <img src="{% static 'website/dandelion_blown.png' %}" alt=""> -->
{% load static %}
<section class="container-fluid website-section-main">
    <!-- Dandalion image -->
    <div class="container-fluid website-section-main-img"></div>
    <div class="container-fluid website-section-main-text">
        <h1 class="website-h1">PollN</h1>
        <p class="website-sub-title"><span>interact with your audience</span></p>
    </div>
    
</section>
{% endblock %}