.POLL-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 100vh;
}

.POLL-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.POLL-page>h1,
.POLL-last-page>*,
.POLL-page>* {
    text-align: center;
}

@media screen and (min-width: 992px) {
    .POLL-page>* {
        max-width: 80vw;
    }
}

.POLL-form {
    margin: 0;
}

.POLL-form-part>* {
    text-align: center;
}

.POLL-wrong-pw {
    color: var(--main-red);
}

.POLL-lets-begin {
    margin-top: 15px;
    color: gray;
}

.POLL-lets-begin>p {
    padding-bottom: 10px;
}

.POLL-page-part>* {
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}

.POLL-page-part-flex {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.POLL-radio-container {
    display: grid;
    grid-template-columns: auto 1fr;
    /* or 10px 1fr */
    align-items: start;
    gap: 0.5rem;
    max-width: 100%;
    margin-top: 15px;
}

.POLL-radio-container label {
    text-align: left;
}

.POLL-radio-container-parent {
    display: inline-block;
}

.POLL-ans-btn {
    display: inline-block;
    margin: auto;
    width: 200px !important;
}

.POLL-RESULTS {
    border: 1px solid var(--main-yellow);
    border-radius: 5px;
    padding: 15px;
    margin: 7px 0;
}

.POLL-RESULTS>* {
    margin: 0;
    padding: 0;
}

.POLL-RESULTS-question,
.POLL-RESULTS-option {
    color: gray;
}

.BASE-hide {
    display: none;
}