/* Importing common styles */
@import url('/static/common.css');

/* INDEX */
/* https: //css-tricks.com/apply-a-filter-to-a-background-image/ */
.WEBSITE-section-main{
    position: relative;
    height: 50vh;
}
.WEBSITE-section-main-img {
    position: relative;
    height: 70vh;
}
/* filter: https: //codepen.io/sosuke/pen/Pjoqqp */
.WEBSITE-section-main-img::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("dandelion_blown.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top left;
    filter: opacity(10%);
    /* border:2px solid black; */
}
.WEBSITE-section-main-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;

}
.WEBSITE-h1{
    font-size: 4em;
}
.WEBSITE-h1-span{
    color: var(--main-blue);
}
.WEBSITE-sub-title{
    font-size: 1.5em;
}
@media screen and (min-width: 600px) {
    .WEBSITE-h1 {
        font-size: 7em;
    }

        .WEBSITE-sub-title {
        font-size: 2.5em;
    }
}

/* SIGNUP and LOGIN*/
.WEBSITE-form-container{
    padding: 30px 10px;
}